body{
	height: 100%;
	background: url(../img/background.png) no-repeat,
				url(../img/noise.png);
	background-attachment: fixed;
}

nav.navbar-transparent{
	background: rgba(102, 102, 153,0.6);
	padding: 5px 0;
	height: 50px;
	
}

.navbar-light .navbar-nav .nav-link{
	color: white;
}

.navbar-light .navbar-nav .nav-link:hover{
	color: #9bf0e1;
}

.navbar-light .navbar-toggler{
	color: rgba(255,255,255,0.5);
	border-color: white;
}

#contentSection{
	width: 1210px;
	height: 830px;
	margin: 60px auto 13px;
}

#mapid {
	border-radius: 5px;
	height: 825px;
	width: 1208px;
	position: absolute;
	z-index: 1;
	transition: 1.5s all;
}

#mapid :hover{
	height: 825px;
	transition: all 1.5s;
}


#tabContent{
	background-color: #FFF;
	position: absolute; ;
	margin-top: 270px;
	width: 1208px;
	border-radius: 5px;
}

#myTab{
	background: #e0e8ec;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.weatherDetailsImg textarea , .cityInformation textarea{
	margin-top: 8px;
	margin-bottom: 16px;
	width: 100%;
	padding-left: 8px;
}

input:disabled, textarea:disabled{
	background:  #fbfbff;
	border: solid 1px #e5e5e5;
	border-radius: 3px;
}


.weatherDetails input{
	padding-left: 8px;
	margin-top: 8px;
	margin-bottom: 16px;
	width: 250px;
}
.weatherDetails, .cityInformation hr{
	margin:0, 10px, 20px,10px;
}

.cityInformation input{
	padding-left: 8px;
	margin-top: 8px;
	margin-bottom: 16px;
	width: 442px;
}

.weatherDetailsImg, .weatherDetailsInfo{
	background: white;
}
.weatherDetailsInfo input{
	padding-left: 8px;
	margin-top: 8px;
	margin-bottom: 16px;
	width: 250px;
}

.weatherDetails{
	background: white;
}

.weatherDetails, .cityInformation{
	padding: 16px;	
	height: 430px;
	margin:8px 16px;
	border: solid 1px #b0bec5;
	border-radius: 5px;
}
.carousel-control-next-icon {
	background-image: url(../img/nav_next.png);
}

.carousel-control-prev-icon {
	background-image: url(../img/nav_prev.png);
}

.carousel-content{
	border: solid 1px #b0bec5;
	border-radius: 5px;
}

.row legend{
	margin-bottom: 0px;
}

#places{
	height: 510px;
	white-space: nowrap;
	overflow: auto;
	overflow-y: hidden;
	overflow-x: scroll;

}

.cardPlaceDetails{
	height:93%; 
	transform: scale(1);
	transition: 0.4s ease;
	white-space: normal;
	vertical-align: top;
}



.cardPlaceDetails:hover{
	cursor: pointer;
	transform: scale(1.05);
	transition: 0.4s ease;
}

.open{
	color: green;
}

.closed{
	color: red;
}

.panel{
width: 80px;
height: 100px;
margin: 10px;
}
.panel:hover{
cursor:pointer;
}
.icon{
transform:scale(1);
transition: 0.4s ease;
margin: 10px;
width: 60px;
height: 60px;
border-radius: 300px;
align-items: center;
vertical-align: baseline;
}
.iconHover{
transform:scale(1.2);
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.paneHover{
transform:scale(1.2);
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#radiusLabel, #controlRadius{
	width: 100%;
}
#controlRadius{
	margin-top: 8px;
}

#radiusLabel{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer{
	position: fixed;
   left: 0;
   bottom: 0;
   padding: 10px 0;
   width: 100%;
   background-color: #8585ad;
   text-align: center;
}
footer h4{
	color: #FFF;
	font-size: 0.8em;
	text-transform: uppercase;	
}

