footer{
	position: fixed;
   left: 0;
   bottom: 0;
   padding: 10px 0;
   width: 100%;
   background-color: #8585ad;
   text-align: center;
}
footer h4{
	color: #FFF;
	font-size: 0.8em;
	text-transform: uppercase;	
}
