nav.navbar-transparent{
	background: rgba(102, 102, 153,0.6);
	padding: 5px 0;
	height: 50px;
	
}

.navbar-light .navbar-nav .nav-link{
	color: white;
}

.navbar-light .navbar-nav .nav-link:hover{
	color: #9bf0e1;
}

.navbar-light .navbar-toggler{
	color: rgba(255,255,255,0.5);
	border-color: white;
}