<<<<<<< HEAD
.placesEmpty{
    text-align: center;
    margin: 8px;
    padding: 8px;
}
=======
>>>>>>> 6a72f7a9659d17ecaf4a2d4df0ca0a609e01f23d
#places{
	height: 510px;
	white-space: nowrap;
	overflow: auto;
	overflow-y: hidden;
	overflow-x: scroll;
}

.cardPlaceDetails{
	height:93%; 
	transform: scale(1);
	transition: 0.4s ease;
	white-space: normal;
	vertical-align: top;
}

.cardPlaceDetails:hover{
	cursor: pointer;
	transform: scale(1.05);
	transition: 0.4s ease;
}

.open{color: green;}

.closed{color: red;}

.panel{
    width: 80px;
    height: 100px;
    margin: 10px;
}

.panel:hover{
    cursor:pointer;
}

.icon{
    transform:scale(1);
    transition: 0.4s ease;
    margin: 10px;
    width: 60px;
    height: 60px;
    border-radius: 300px;
    align-items: center;
    vertical-align: baseline;
}

.iconHover{
    transform:scale(1.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.paneHover{
    transform:scale(1.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#radiusLabel, #controlRadius{
	width: 100%;
}

#controlRadius{
	margin-top: 8px;
}

#radiusLabel{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}